body {
  background: darkslateblue;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  color: white;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.8rem;
}
h4,
h5,
h6 {
  font-size: 1.6rem;
}
p {
  font-size: 1.4rem;
}
.js-wp-1,
.js-wp-2,
.js-wp-3,
.js-wp-4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1.4s;
  opacity: 0;
}
.js-wp-1 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.js-wp-3 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.js-wp-4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1.4s;
}
.js-wp-1.animated,
.js-wp-2.animated,
.js-wp-3.animated,
.js-wp-4.animated {
  opacity: 1;
}
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  padding: 0 3%;
  background: #2a2b3c;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
nav .logo {
  color: white;
  font-size: 2.4rem;
  font-family: "Caveat", cursive;
}
.menu-icon {
  font-size: 2.8rem;
  color: white;
  cursor: pointer;
}
.nav-container {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
.nav-container .nav-container-content {
  border-radius: 5px;
  background-color: #2e2f42;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  margin-top: 50%;
  padding: 20px;
  width: 50%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 720px) {
  .nav-container .nav-container-content {
    margin-top: 20%;
  }
}
.nav-container .nav-container-content .close-menu {
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav-container .nav-container-content .close-menu:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #d9d9d9;
}
.nav-container .nav-container-content .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.nav-container .nav-container-content .nav-list .nav-link {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav-container .nav-container-content .nav-list .nav-link:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #d9d9d9;
}
.nav-container .nav-container-content a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 1.6rem;
  margin-bottom: 15px;
}
header.home,
header.about {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/header-background.jpeg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/header-background.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header.home h1,
header.about h1 {
  font-family: "Caveat", cursive;
  font-size: 4.8rem;
  margin: 0;
  color: white;
}
header.home p,
header.about p {
  color: white;
  font-size: 1.4rem;
  padding: 0 30px;
}
header.about {
  height: 50vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/about-background.jpeg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/about-background.jpeg");
}
.about {
  padding: 30px;
  color: white;
  max-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.about p {
  font-size: 1.4rem;
}
@media (min-width: 700px) {
  .about {
    height: 400px;
  }
}
.features {
  background-color: #2e2f42;
  padding: 80px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 95%);
  clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 95%);
}
@media (min-width: 1100px) {
  .features .features-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .features .features-container h2 {
    width: 100%;
  }
}
.features h2 {
  text-align: center;
}
.features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
@media (min-width: 1100px) {
  .features .feature {
    width: 45%;
  }
}
.features .feature .feature-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.features .feature .feature-heading i {
  font-size: 2.4rem;
  margin-right: 20px;
}
.features .feature .feature-heading h3 {
  margin: 0;
}
.features .feature p {
  font-size: 1.4rem;
}
.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px;
}
@media (min-width: 800px) {
  .testimonials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.testimonials h2 {
  margin-bottom: 60px;
}
@media (min-width: 800px) {
  .testimonials h2 {
    width: 100%;
    text-align: center;
  }
}
.testimonials .testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}
@media (min-width: 800px) {
  .testimonials .testimonial {
    padding: 0 1%;
    width: 45%;
  }
}
@media (min-width: 1100px) {
  .testimonials .testimonial {
    width: 30%;
  }
}
.testimonials .testimonial img {
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  max-width: 80%;
  max-height: 200px;
  margin-bottom: 20px;
}
@media (min-width: 800px) {
  .testimonials .last-child {
    margin: 0 auto;
  }
}
@media (min-width: 1100px) {
  .testimonials .last-child {
    margin: 0;
    margin-bottom: 40px;
  }
}
.contact {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../images/contact-background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/contact-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
  padding: 60px 30px;
}
.contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contact .contact-form p {
  margin-bottom: 5px;
}
.contact .contact-form .contact-field {
  opacity: 0.8;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  min-width: 60%;
  min-height: 25px;
  margin-bottom: 10px;
  padding: 0 1rem;
}
.contact .contact-form .contact-field:focus {
  opacity: 0.8;
  border: 2px #2e2f42;
  -webkit-box-shadow: 0 0 0 1px #2e2f42;
  box-shadow: 0 0 0 1px #2e2f42;
}
.contact .contact-form a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 20px;
  min-width: 60%;
  padding: 10px 0;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.contact .contact-form a:hover {
  background-color: #383a51;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.contact .contact-form textarea {
  max-width: 95%;
}
footer {
  background: #262636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  font-size: 1.2rem;
}
footer i {
  margin-right: 10px;
}
