.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/contact-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
  padding: 60px 30px;

  .contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      margin-bottom: 5px;
    }

    .contact-field {
      opacity: 0.8;
      font-size: @text-normal;
      border: none;
      border-radius: 5px;
      min-width: 60%;
      min-height: 25px;
      margin-bottom: 10px;
      padding: 0 1rem;

      &:focus {
        opacity: 0.8;
        border: 2px @secondary-color;
        box-shadow: 0 0 0 1px @secondary-color;
      }
    }

    a {
      text-decoration: none;
      color: white;
      font-size: @text-small;
      border: 1px solid white;
      border-radius: 5px;
      margin-top: 20px;
      min-width: 60%;
      padding: 10px 0;
      text-align: center;
      transition: 0.4s;

      &:hover {
        background-color: lighten(@secondary-color, 5%);
        transform: translateY(-2px);
        transition: 0.4s;
      }
    }
  }
}
