header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/header-background.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: "Caveat", cursive;
    font-size: 4.8rem;
    margin: 0;
    color: white;
  }

  p {
    color: white;
    font-size: 1.4rem;
    padding: 0 30px;
  }
}
